.main-header {
  background-color: rgb(52, 143, 52);

  .header-link {
    color: rgb(236, 233, 233);
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
  }
}
